
@{
    ViewData["Title"] = "Index";
}

<h1>Formulary submission</h1>

Submited with SUCCESS!!!
<br />
It was inserted the following data : @TempData["values"]

<br />
Is this work ?? @ViewData["failedTest"]